@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Custom Colors */
  --Main: #2275fc;
  --White: #fff;
  --Black: #111;
  --Heading: #111;
  --Body-Text: #575864;
  --22-c-55-e: #22C55E; /* Consider renaming for clarity */
  --Style: #FF5200;
  --Palette-Green-500: #22C55E;
  --Palette-Blue-Gray-300: #CBD5E1;
  --Palette-Blue-Gray-200: #E2E8F0;
  --Palette-Blue-300: #93C5FD;
  --Palette-Blue-200: #BFDBFE;
  --Palette-Orange-400: #FB923C;
  --Palette-Red-400: #F87171;
  --Palette-Red-500: #EF4444;
  --Input: #ECF0F4;
  --Icon: #CBD5E1;
  --Note: #95989D;
  --Text-Holder: #858B93;
  --08091-b: #08091B; /* Consider renaming for clarity */
  --Stroke: #ECF0F4;
  --bg-table: #f6f8fbcc;
  --bg-table-1: #F7FAFC;
  --backdrop: #F2F7FB;
  --hv-item: #EDF1F5;

  /* Bootstrap Colors */
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;

  /* Bootstrap Font Families */
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /* Bootstrap Gradient */
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}



body{
  color: var(--Body-Text);
  background-color: var(--White);
}

.primary-btn {
  background-color: var(--Main);
  color: var(--White);
}

.alert {
  background-color: var(--bs-danger);
  color: var(--bs-white);
}
 